[workspace]
authors = ["Byron"]
channels = ["conda-forge"]
name = "sniper-game"
platforms = ["win-64"]
version = "0.1.0"

[tasks]
init-db = "(cd ./postgresql/base) || mkdir -p ./postgresql && initdb -D ./postgresql"
check-db-server = "psql -U postgres -d nyquist_db -c 'CREATE TABLE Test (id INT PRIMARY KEY);DROP TABLE Test' > /dev/null"
start-db-server = "(pixi run check-db-server) || pg_ctl start -D ./postgresql -o '-h localhost -p 5432' -l ./postgresql/logfile"
stop-db-server = "(pixi run check-db-server) || pg_ctl stop -D ./postgresql"
create-db = { cmd = "createuser postgres && createdb --owner postgres nyquist_db", depends-on = [
    "init-db",
    "start-db-server",
] }
compile-ts = "tsc"
watch-ts = "tsc -w"
update-nodejs = "npm install --save-dev && tsc"
start-dev = "(pixi run watch-ts &) && (npm run dev &)"
build = "npm run build"
launch-backend = { cmd = "cd back-end && uvicorn app.main:app --reload --env-file app/.env", depends-on = [
    "start-db-server",
] }
read-db-logs = "cat ./postgresql/logfile"
clear-db = { cmd = "psql -U postgres -d nyquist_db -c 'DROP SCHEMA public CASCADE;CREATE SCHEMA public;'", depends-on = [
    "start-db-server",
] }
pre-commit = "npx lint-staged && ruff check --fix && ruff format --line-length 88"
backend-tests = "pytest --cov=app 'back-end/tests/'"


[dependencies]
nodejs = "==24.13.1"
fastapi = ">=0.129.0,<0.130"
uvicorn = ">=0.41.0,<0.42"
numpy = ">=2.4.2,<3"
pyyaml = ">=6.0.3,<7"
pytest = ">=9.0.2,<10"
python-dotenv = ">=1.2.1,<2"
postgresql = ">=18.2,<19"
websockets = ">=16.0,<17"
ruff = ">=0.15.2,<0.16"
pre-commit = ">=4.5.1,<5"
sqlmodel = ">=0.0.37,<0.0.38"
pytest-cov = ">=7.0.0,<8"
sqlalchemy = ">=2.0.47,<3"
sqlite = ">=3.51.2,<4"
psycopg = ">=3.3.3,<4"

[tool.ruff]
line-length = 80

[tool.ruff.format]
docstring-code-format = true
