[workspace]
authors = ["Byron"]
channels = ["conda-forge"]
name = "sniper-game"
platforms = ["win-64"]
version = "0.1.0"

[tasks]
compile-ts = "tsc"
watch-ts = "tsc -w"
update-nodejs = "npm install --save-dev && tsc"
serve-dev = "(pixi run watch-ts &) && (npm run dev &)"
build = "npm run build"
launch-backend = "cd back-end && uvicorn app.main:app --reload"

[dependencies]
nodejs = ">=25.6.0,<25.7"
psycopg = ">=3.3.2,<4"
fastapi = ">=0.129.0,<0.130"
uvicorn = ">=0.41.0,<0.42"
numpy = ">=2.4.2,<3"
sqlalchemy = ">=2.0.46,<3"
pyyaml = ">=6.0.3,<7"
pytest = ">=9.0.2,<10"
coverage = ">=7.13.4,<8"
python-dotenv = ">=1.2.1,<2"
