[workspace]
authors = ["Byron"]
channels = ["conda-forge"]
name = "sniper-game"
platforms = ["win-64"]
version = "0.1.0"

[tasks]
init-db = "mkdir -p ~/postgresql && initdb -D ~/postgresql"
check-db-server = "psql -U postgres -d nyquist_db -c 'CREATE TABLE Test (id INT PRIMARY KEY);DROP TABLE Test' > /dev/null"
start-db-server = "(pixi run check-db-server) || pg_ctl start -D ~/postgresql -o '-h localhost -p 5432' -l ~/postgresql/logfile"
create-db = "createuser postgres && createdb --owner postgres nyquist_db"
compile-ts = "tsc"
watch-ts = "tsc -w"
update-nodejs = "npm install --save-dev && tsc"
start-dev = "(pixi run watch-ts &) && (npm run dev &)"
build = "npm run build"
launch-backend = "(pixi run start-db-server &) && cd back-end && uvicorn app.main:app --reload"
read-db-logs = "cat ~/postgresql/logfile"
clear-db = "(pixi run start-db-server &) && psql -U postgres -d nyquist_db -c 'DROP SCHEMA public CASCADE;CREATE SCHEMA public;'"
pre-commit = "npx lint-staged && ruff check --fix && ruff format --line-length 88"


[dependencies]
nodejs = "==24.13.1"
psycopg = ">=3.3.2,<4"
fastapi = ">=0.129.0,<0.130"
uvicorn = ">=0.41.0,<0.42"
numpy = ">=2.4.2,<3"
sqlalchemy = ">=2.0.46,<3"
pyyaml = ">=6.0.3,<7"
pytest = ">=9.0.2,<10"
coverage = ">=7.13.4,<8"
python-dotenv = ">=1.2.1,<2"
postgresql = ">=18.2,<19"
websockets = ">=16.0,<17"
ruff = ">=0.15.2,<0.16"
pre-commit = ">=4.5.1,<5"
pytest-postgresql = ">=8.0.0,<9"

[tool.ruff]
line-length = 80

[tool.ruff.format]
docstring-code-format = true
